body {
    background-color: grey;

}


h1 {
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: yellow;

}

img {
    border-radius: 50%;
    width: 50%;
    height: 25%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin-left: 25%;
    margin-right: 25%;
}

#header {
 text-align: center;
background-color: yellow;
 border-width: 10px;
 border-radius: 1px;
}
#list {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 15px;
    margin-left: 35%;
}

#navlinks {
    position: fixed;
}
#footerarea {
    background-color: yellow;
    border-color: black;
    border-width: 3px;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}